.subredditStats{
    background-color: white;
    color: black;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;

    margin-bottom: 1vh;
}

.actualStats{
    display:flex;
    justify-content:left;
}

.rules {
    background-color: white;
    color: black;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 1vh;
}

.stat{
    padding: 5%;
}

#creationDate{
    color:#aaa8a8;
    
}

.subredditinfo{
    min-width: 15vw;
}

#birthImage{
    background-color: transparent;
    color: transparent;
    max-width: 4vw;
    max-height: 4vh;
    padding: 1vw;
}

